<div class="container">
  <div class="row" *ngFor="let serie of series,let i = index">
    <div class="col-md-12">
      <div class="row" *ngIf="i%2 == 0">
        <div class="col-md-3" width>
          <img [src]="serie.poster" alt="" width="100%">
        </div>
        <div class="col-md-7" style="color:white">
          <div class="row">
            <div class="col-md-12">
              <h4>{{ serie.name }}</h4>
              {{ serie.description }}
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12">
              Puntuación: {{ serie.rating }}
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12">
              <button class="btn btn-primary">Agregar</button>
              <button class="btn btn-success">Ver</button>
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="i%2 != 0">
        <div class="col-md-7" style="color:white">
          <div class="row">
            <div class="col-md-12">
              <h4>{{ serie.name }}</h4>
              {{ serie.description }}
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12">
              Puntuación: {{ serie.rating }}
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12">
              <button class="btn btn-primary">Agregar</button>
              <button class="btn btn-success">Ver</button>
            </div>
          </div>
        </div>
        <div class="col-md-3" width>
          <img [src]="serie.poster" alt="" width="100%">
        </div>
      </div>
    </div>
  </div>
</div>